body {
    background: linear-gradient(dodgerblue, yellowgreen);
    /*background-color: lawngreen;*/
    background-repeat: no-repeat;
    background-size: cover;
}

#calculate {
    background-color: red;
    color: white;
}

label{
    display: block;
}
